<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/online_class__1_"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AllOne">

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".Main"
            android:exported="true"
            android:label="MainPage"
            android:theme="@style/Theme.AllOne" >
        </activity>
        <activity
            android:name=".Login"
            android:exported="true"
            android:label="Login"
            android:theme="@style/Theme.AllOne" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="MainActivity"
            android:theme="@style/Theme.AllOne" />
        <activity
            android:name=".Profile"
            android:exported="true"
            android:label="Profile"
            android:theme="@style/Theme.AllOne" />
        <activity
            android:name=".StartPage"
            android:exported="true"
            android:label="e-Schola"
            android:theme="@style/Theme.AllOne" >
                <intent-filter>
                    <action android:name="android.intent.action.MAIN" />

                    <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
        </activity>
        <activity
            android:name=".Search"
            android:exported="true"
            android:label="SearchPage"
            android:theme="@style/Theme.AllOne" />
    </application>

</manifest>